[submodule "themes/hugo-refresh"]
	path = themes/hugo-refresh
	url = https://github.com/PippoRJ/hugo-refresh.git
[submodule "dexterposh.github.io"]
	path = dexterposh.github.io
	url = git@github.com:DexterPOSH/dexterposh.github.io.git
